body {
  background-color: #1A1A1A;
  padding-left:15px;
  padding-right:15px;
}

#title {
  background-color: #014F89;
  color: white;
  font-family: 'Roboto', sans-serif;
  width: 400px;
  border-left-style: solid;
  border-left-color: #009FE2;
  border-left-width: 10px;
  border-right-style:solid;
  border-right-color: #E40138;
  border-right-width: 10px;
  padding-left: 25px;
  border-radius: 15px 30px;
  
}

#logOut {
  color: #ffffff;
  position: relative;
  bottom: 110px;
  float: right;
  margin: 4px;
  border-radius: 5px;
}

#toolbar {
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 5px;
}

#dropzone {
  position: fixed;
  background-color: #009FE2;
  padding: 0;
  margin: 0;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left:0px;
  width: 100%;
  height: 100%;
  opacity: 0%;
  transition: all 0.4s ease .0s;
}

/* Parent class for all ghost styled buttons */
.ghost {
  font-family: 'Roboto', sans-serif;
  color: #ffffff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #545454;
  padding: 6px;
  border: 2px solid #009FE2 !important;
  display: inline-block;
  transition: all 0.1s ease 0s;
  border-radius: 2px;
  position: relative;
  z-index: 10000;
}

.ghost:hover {
  font-family: 'Roboto', sans-serif;
  transition: all 0.1s ease 0s;
}

.blue:hover {
  color: #ffffff !important;
  background: #009FE2;
  border-color: #009FE2 !important;
}

.darkblue:hover {
  color: #ffffff !important;
  background: #014F89;
  border-color: #014F89 !important;
}

.pink:hover {
  color: #ffffff !important;
  background: #E40138;
  border-color: #E40138 !important;
}

.green:hover {
  color: #ffffff !important;
  background: #15b010;
  border-color: #15b010 !important;
}

.red:hover {
  color: #ffffff !important;
  background: #ab2222;
  border-color: #ab2222 !important;
}

#newPlan {
  font-family: 'Roboto', sans-serif;
  color: white;
  margin-top: 8px;
  border-style: solid;
  border-color: #E40138;
  border-radius: 5px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-top: 10px;
  display: none;
  position: relative;
  z-index: 10000;
}

#tableContainer {
  width: 100%;
  height: 75%;
  margin-top: 8px;
  padding-bottom: 75%;
  position: relative;
  max-height: 750px;
}

#grid {
  border: 2px solid #014F89;
  border-radius: 5px;
  height: 90%;
  width: 25%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 750px;
  z-index: 2;
}

input[type=text]{
  width: 20%;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
  z-index: 100000;
}
